.heroWrapper {
    display: flex;
    justify-content: space-between;
}

.heroContent, .heroImg {
    width: 50%;
}

.heroContent {
    padding-top: 40px;
}

.heroContent h2 {
    font-size: 3rem;
    line-height: 65px;
}

.heroContent p {
    margin-top: 40px;
    font-size: 1.1rem;
}

.highlight {
    color: var(--primary-color);
}

.heroBtns {
    margin-top: 40px;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.primaryBtn, .secondaryBtn {
    padding: 0.8rem 1.5rem;
    border: none;
    outline: none;
    color: #fff;
    border-radius: .2rem;
    cursor: pointer;
}

.primaryBtn {
    background-color: var(--btn-secondary-bg);
    border: 1px solid var(--btn-primary-bg);
}

.secondaryBtn {
    background: var(--btn-primary-bg);
}

@media only screen and (max-width: 992px) {
    .heroContent h2 {
        font-size: 1.8rem;
        line-height: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .heroContent h2 {
        font-size: 1.5rem;
        line-height: 45px;
    }

    .heroContent p {
        font-size: .9rem;
    }

    .primaryBtn,
    .secondaryBtn {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 600px) {
    .heroContent,
    .heroImg {
        width: 100%;
    }

    .heroWrapper {
        flex-direction: column;
    }
}