.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    list-style: none;
}

.menuLink {
    font-weight: 400;
    font-size: .9rem;
    cursor: pointer;
}

.menuLink:hover {
    color: var(--link-active);
}

.logo h2 {
    color: var(--primary-color);
}

.lightMode span {
    color: rgba(255, 255, 255, 0.637);
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: .8rem;
    cursor: pointer;
}

.light-theme .lightMode span {
    color: #000;
    font-weight: 500;
}

.headerShrink {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #0c123d;
}

.light-theme .headerShrink {
    background: #f7f7f7;
    box-shadow: 2px 2px 10px -2px #ddd;
}

.mobileMenu {
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    display: none;
}

.light-theme .mobileMenu {
    color: #000;
}

@media only screen and (max-width: 992px) {
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(6, 11, 26, 0.868);
        z-index: 99999;
        display: none;
    }

    .menu {
        flex-direction: column;
        background: #0c123d;
        width: 250px;
        height: 100%;
        align-items: center;
        justify-content: center;
        top: 0;
        position: absolute;
        right: 0;
        z-index: 999999;
    }

    .menuActive {
        display: block;
    }

    .mobileMenu {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
        height: 50px;
        line-height: 50px;
    }

    .mobileMenu {
        font-size: 1rem;
    }

    .logo h2 {
        font-size: 1.3rem;
    }
}